/* LG - SMALL LAPTOPS: 1024px - 1280px */

@media (max-width: 72rem) {
    /* 1150px / 16px = 71.875 */
    /* round off 72 rem x 16px = 1152px */

    html {
        font-size: 56.25%;
        /* 9px / 16px = \56.25% */
    }

    .features-grid-container {
        column-gap: 2rem;
    }

    .cta-section {
        margin-bottom: 20rem;
    }
}

/* MD - TABLETS: 768px - 1024px */

@media (max-width: 51rem) {
    /* 815px / 16px = 50.9375 */
    /* 51rem / 16px = 816px */

    html{
        font-size: 50%;
        /* 8px / 16px = 50% */
    }
}

/* SM - MOBILE LANDSCAPE: 576px - 768px */

@media (max-width: 43rem) {
    /* 680px / 16px = 42.5rem */
    /* 43rem / 16px = 688px */

    html {
        font-size: 43.75%;
        /* 7px / 16px = 43.75% */
    }

    .cta-card {
        padding: 5rem 10rem;
    }

    .features-section {
        margin-bottom: 20rem;
    }

    .features-grid-container {
        row-gap: 5rem;
        column-gap: 0.5rem;
    }
}